# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth

POSTGRES_URL="postgres://default:YXArvU0ifp5K@ep-sparkling-boat-a2wpxirr-pooler.eu-central-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:YXArvU0ifp5K@ep-sparkling-boat-a2wpxirr-pooler.eu-central-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:YXArvU0ifp5K@ep-sparkling-boat-a2wpxirr-pooler.eu-central-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:YXArvU0ifp5K@ep-sparkling-boat-a2wpxirr.eu-central-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-sparkling-boat-a2wpxirr-pooler.eu-central-1.aws.neon.tech"
POSTGRES_PASSWORD="YXArvU0ifp5K"
POSTGRES_DATABASE="verceldb"



POSTGRES_URL="postgresql://postgres:docker@localhost:5432/postgres-db"
POSTGRES_USER="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PASSWORD="docker"
