BE_URL=http://backend:8080 # docker, je nachdem ob man docker oder lokal testen will
BE_URL=http://localhost:8080 # local

AUTH_SECRET= # `openssl rand -base64 32`
AUTH_URL=http://localhost:3000/api/auth